*{
    margin: 0;
    border: 0;
}
nav{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: #ffff;
}
.nav-link{
    color: blueviolet;
}


span{
    color: red;
}
.about-me{
    background-color: #ffff;
}
h1{
    color: #303179;
}
.container{
    padding-top: 100px;
}
#contact{
    background-color: aquamarine;
    padding-bottom: 50px;
    
}
.fm{
    background-color: beige;
    border-radius: 20px;
    padding-bottom: 15px;
}
.ftr ul li{
    list-style: none;
}
.ftr a{
    text-decoration: none;
}
#preloader{
    background:#000 url(https://ucarecdn.com/ba9ee6e4-d0c4-418e-9dfc-9a60c8a272a9/) no-repeat center center;
    background-size: 30%;
    background-color: black;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index:100;
   
    
}
